body{
  background-color: grey;
}
img{
  border-radius: 50%;
  width: 100%;
}
  p{
    color:red;
    text-align:center;
  }
  h4{
    color: #ce0f3d;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-family: fantasy;
  }
